<h1>Listing editions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Edition no</th>
    <th>Publish date</th>
    <th>Description</th>
  </tr>

<% @editions.each do |edition| %>
  <tr>
    <td><%=h edition.title %></td>
    <td><%=h edition.edition_no %></td>
    <td><%=h edition.publish_date %></td>
    <td><%=h edition.description %></td>
    <td><%= link_to 'Show', edition %></td>
  </tr>
<% end %>
</table>
