<p>
  <b>Title:</b>
  <%= @edition.title %>
</p>

<p>
  <b>Edition no:</b>
  <%= @edition.edition_no %>
</p>

<p>
  <b>Publish date:</b>
  <%= @edition.publish_date %>
</p>

<p>
  <b>Description:</b>
  <%= @edition.description %>
</p>

<%= link_to 'Back', editions_path %>

<h2>Edition works</h2>

<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Abstract</th>
    <th>Work content</th>
    <th>User</th>
  </tr>

<% @edition.works.each do |work| %>
  <tr>
    <td><%= work.work_type %></td>
    <td><%= work.title_calc %></td>
    <td><%=truncate(work.abstract_calc) %></td>
    <td><%=truncate(work.work_content_calc) %></td>
    <td><%= work.user.get_fullname %></td>
    <td><%= link_to 'Show', work %></td>
  </tr>
<% end %>
</table>