<p>
  <b>Title:</b>
  <%= @edition.title %>
</p>

<p>
  <b>Edition no:</b>
  <%= @edition.edition_no %>
</p>

<p>
  <b>Publish date:</b>
  <%= @edition.publish_date %>
</p>

<p>
  <b>Description:</b>
  <%= @edition.description_calc %>
</p>


<p>
  <b>Contributors:</b>
  <%= @edition.contributors_content_calc %>
</p>


<%= link_to 'Edit', editions_admin_path(:id=> @edition, :action => 'edit') %> |
<%= link_to 'Back', editions_admin_path %>

<h2>Edition Works</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Writer</th>
  </tr>

<% @edition.works.each do |work| %>
  <tr>
    <td><%= work.work_type %></td>
    <td><%= work.title %></td>
    <td><%= work.user.get_fullname %></td>
    <td><%= link_to 'Show', works_admin_path(:id=> work, :action => 'show') %></td>
    <td><%= link_to 'Edit', works_admin_path(:id=> work, :action => 'edit') %></td>
    <td><%= link_to 'Destroy', works_admin_path(:id=> work, :action => 'destroy'), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>