<% if @work.attachment1_file_name -%>
  <br/>
  <%= image_tag @work.attachment1.url, :class => "work_image" %>
  <br/>
  <br/>
  <br/>
  <p class="name">
    by <%= @work.user.get_fullname %>
  </p>
<% else -%>
  <h2>
    <%= @work.title_calc %>
  </h2>
  <%- if !@work.epigraph.blank? -%>
    <p class="epigraph">
      <%= @work.epigraph_calc %>
    </p>
  <%- end -%>

  <p class="name">
    by <%= @work.user.get_fullname %>
  </p>

  <p>
    <%= @work.work_content_calc %>
  </p>
<% end -%>
<%= link_to 'Back', home_path %>
