<h1>Editing user</h1>

<% form_for :user, @user, :url => {:action => 'update', :id => @user} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :group %><br />
    <%= f.select :group, @user_group_opts %>
  </p>
  <p>
    <%= f.label :writer_type %><br />
    <%= f.text_field :writer_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', users_admin_path(:id=> @user, :action => 'show') %> |
<%= link_to 'Back', users_admin_path %>