<h2>All Users</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Writer Type</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.get_fullname %></td>
    <td><%=h user.group %></td>
    <td><%=h user.writer_type %></td>
    <td><%= link_to 'Show', users_admin_path(:id=> user, :action => 'show'), :class => "button" %></td>
    <td><%= link_to 'Edit', users_admin_path(:id=> user, :action => 'edit'), :class => "button" %></td>
    <td><%= link_to 'Destroy', users_admin_path(:id=> user, :action => 'destroy'), :confirm => 'Are you sure?', :method => :delete, :class => "button negative" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', users_admin_path(:action => 'new'), :class => "button" %>