<h2>User Preview</h2>
<div id="preview_show">
  <div class="show_inline">
    <h4>First Name:</h4>
    <%= @user.firstname %>
  </div>
  <div class="show_inline">
    <h4>Last Name:</h4>
    <%= @user.lastname %>
  </div>
  <div class="show_inline">
    <h4>Group:</h4>
    <%= @user.group %>
  </div>
  <div class="show_inline">
    <h4>Writer Type:</h4>
    <%= @user.writer_type %>
  </div>

  <h4 class="cb">Bio:</h4>
  <%= @user.bio_calc %>

  <br class="cb"/>

  <%= link_to 'Edit', users_admin_path(:id=> @user, :action => 'edit'), :class => "button" %>
  <%= link_to 'Back', users_admin_path, :class => "button" %>

</div>