<h2>Editing link</h2>

<%= form_for :link, @link, :url => {:action => 'update', :id => @link.id} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', links_admin_path(:id=> @link, :action => 'show'), :class => "button" %>
<%= link_to 'Back', links_admin_path, :class => "button" %>