<h2>Listing works</h2>

<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Edition</th>
    <th>Writer</th>
    <th>Order</th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= work.work_type %></td>
    <td><%= work.title_calc %></td>
    <td><%= work.edition.edition_no.to_s%>: <%= work.edition.title %></td>
    <td><%= work.user.get_fullname %></td>
    <td><%= work.ordinal %></td>
    <td><%= link_to 'Show', works_admin_path(:id => work, :action => 'show'), :class => "button" %></td>
    <td><%= link_to 'Edit', works_admin_path(:id => work, :action => 'edit'), :class => "button" %></td>
    <td><%= link_to 'Destroy', works_admin_path(:id => work, :action => 'destroy'), :confirm => 'Are you sure?', :method => :delete, :class => "button negative" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New work', works_admin_path(:action => 'new'), :class => "button positive" %>
