<h1>Listing works</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Abstract</th>
    <th>Work content</th>
    <th>Edition</th>
    <th>Writer</th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%=h work.work_type %></td>
    <td><%=white_list work.title %></td>
    <td><%=truncate(white_list(work.abstract)) %></td>
    <td><%=truncate(white_list(work.work_content)) %></td>
    <td><%=h work.edition.edition_no.to_s%>: <%=h work.edition.title %></td>
    <td><%=h work.user.get_fullname %></td>
    <td><%= link_to 'Show', works_admin_path(:id=> work, :action => 'show') %></td>
    <td><%= link_to 'Edit', works_admin_path(:id=> work, :action => 'edit') %></td>
    <td><%= link_to 'Destroy', works_admin_path(:id=> work, :action => 'destroy'), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New work', works_admin_path(:action => 'new') %>