<h2>Work Preview</h2>
<div id="preview_show">
  <h3><%= @work.title_calc %></h3>
  <div class="show_inline">
    <h4>Type:</h4>
    <%= @work.work_type %>
  </div>
  <div class="show_inline">
    <h4>Epigraph:</h4>
    <%= @work.epigraph_calc %>
  </div>
  <h4 class="cb">Abstract:</h4>
  <%= @work.abstract_calc %>
  
  <div class="show_inline">
    <h4>Display images in a lightbox?:</h4>
    <%= @work.images_lightbox %>
  </div>
  
  <h4>Work:</h4>
  <%- if @work.work_pages.size > 0 -%>
  
    <%- @work.work_pages.each do |work_page| %>
      <h5>Page: <%= work_page.page_number %></h5>
      
      <% if work_page.work_image_file_name -%>
        <%= image_tag work_page.work_image.url, :class => "work_image" %>
      <%- else -%>
        <%= work_page.page_content_calc %>
      <% end -%>
    <%- end -%>
    
  <%- else -%>
    
    <%- if @work.attachment1_file_name -%>
      <%= image_tag @work.attachment1.url, :class => "work_image" %>
    <%- else -%>
      <%= @work.work_content_calc %>
    <%- end -%>
    
  <%- end -%>
  
  <div class="show_inline">
    <h4>Order:</h4>
    <%= @work.ordinal %>
  </div>
  <div class="show_inline">
    <h4>Edition:</h4>
    <%= @work.edition.edition_no.to_s%>: <%= @work.edition.title %>
  </div>
  <div class="show_inline">
    <h4>Writer:</h4>
    <%= @work.user.get_fullname %>
  </div>

  <br class="cb"/>

  <%= link_to 'Edit', works_admin_path(:id => @work, :action => 'edit'), :class => "button" %>
  <%= link_to 'Back', works_admin_path, :class => "button" %>
</div>
