<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Jerry Magazine</title>
  
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Cabin+Sketch:700&v2' %>
  <%= stylesheet_link_tag "/assets/admin" %>
  <%= javascript_include_tag "/assets/admin" %>
  <%= csrf_meta_tag %>
  
  <%= include_tiny_mce_if_needed %>
  
</head>
<body>
<div id="wrapper" class="container_12">
  <h1 class="grid_4">Jerry Admin</h1>
  <div id="main_menu" class="grid_8">
    <ul>
      <li><%= link_to 'admin home', :controller => 'admin' %></li>
      <li><%= link_to 'users', :controller => 'users' %></li>
      <li><%= link_to 'editions', editions_admin_path %></li>
      <li><%= link_to 'works', works_admin_path %></li>
      <li><%= link_to 'links', links_admin_path %></li>
      <li><%= link_to 'site home', '/' %></li>
    </ul>
  </div>
  <p class="grid_12" id="flash_message"><%= flash[:notice] %></p>

  <div class="grid_12">
    <%= yield %>
  </div>
</div>
</body>
</html>
