!!! 5
%html
  %head
    %title JERRY MAGAZINE
    = stylesheet_link_tag "/assets/colaborate-type.css"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Syncopate:400,700"
    = stylesheet_link_tag "/assets/application"
    = javascript_include_tag "/assets/application"
    = csrf_meta_tag
  %body
    #work_wrapper.container_12
      #fixed_furniture.grid_3
        %a#main_image.grid_3{:href => "/home"}
        %h1.grid_3
          %a{:href => "/home"}
            %span> J
            erry
        .clear
        = render 'layouts/main_mav'
      #main.grid_9
        %h1= @edition.title
        = yield
      #footer.grid_12
        = render 'layouts/footer'
    = render 'layouts/google_analytics'